#ProjectP{
    display: flex;
  
}
#project{
    width: 70%;
}
#profile{
    width: 30%;
}

@media all and (max-width: 1200px) and (min-width:200px) {
   
    #ProjectP{
        display: block;
       
    }
    #project{
        width: 100%;
        height: 100%;
    }
    #profile{
        width: 100%;
    }

}
@media all and (max-width: 1500px) and (min-width:1200px) {
   
    #ProjectP{
        display: block;
       
    }
    #project{
        width: 100%;
        height: 100%;
    }
    #profile{
        width: 100%;
    }

}