#StaticP{
    display: flex;
}
#profile{

    width: 30%;
}
#static{
    width: 70%;
    height: 70%;
}

@media all and (max-width: 1200px) and (min-width:200px) {
   
    #StaticP{
        display: block;
       
    }
    #static{
        width: 100%;
        height: 100%;
    }
    #profile{
        width: 100%;
    }

}
@media all and (max-width: 1500px) and (min-width:1200px) {
   
    #StaticP{
        display: block;
       
    }
    #static{
        width: 100%;
        height: 100%;
    }
    #profile{
        width: 100%;
    }

}