#static #staticimg{
    height: 200px;
    margin-left: 100px;
}

#static{
display: grid;
grid-template-columns: repeat(2,1fr);

margin: 80px;
  
}

@media all and (max-width: 1200px) and (min-width:900px) {
   
        #static #staticimg{

            width: 80%;
            height: 150px;
            margin-left: 0px;
            margin-bottom: 30px;
           
        } 
       
   
   }
@media all and (max-width: 900px) and (min-width:200px) {
    /* Medium Screen Styles  */
    
        #static{
        display: block
        }
        #static #staticimg{

            width: 100%;
            height: 150px;
            margin-left: 0px;
           
           
        }
        #static #graph{
            margin-bottom: 30px;
         }
   
   }
