#about{
    width: 80%;
    height: 100%;
    background-color:rgb(13, 174, 219);
    margin: auto;
    padding: 15px;
    margin-bottom: 40px;
    
} 
   
#whole_about{
   padding: 0 0 10px 0px;
 
}

#innerPara{
    width: 80%;
    margin: auto;
    text-align:justify;
}
#about p{
   color:white ;
   font-size:20px;
   margin:20px
}

#img_obj{
    border-radius:50%;
    height: 200px;
    width:200px;
    margin:30px 0;
    transition: all;
    transition-duration: 1s;
    border:5px solid aquamarine;
    
}

#img_obj:hover{
    border-radius:10%;
}
#img_obj~h6{
    text-align: center;
    margin:auto;
    font-size: 29px;
    color:white ;
}
#obj{
 text-decoration: underline;
 margin: 40px;
}
@media all and (max-width: 900px) and (min-width:200px) {
    /* Medium Screen Styles  */
    #about{
       
        padding:20px 0 20px 0;
        height: 100%;
        margin-bottom: 20px;
       
   }

   #about p{
      font-size:15px;
      margin:20px;
   }

   #img_obj~h6{
       text-align: center;
       font-size: 10px;
   }
 
   #obj{
    text-decoration: underline;
    font-size:10px;
    margin:20px
   }
   }