#Profile{
    
   
    height: 100%;
    border: 1px solid grey ;
    background-color:rgb(141, 225, 248);
   
}
#pimg{
    
    margin-top: 100px;
    width: 75%;
    border-radius: 20px;
}

.outerP{
  
   margin: auto;
   margin:15px
}
#full{
    width: 370px;
    margin: 0 60px;
}
@media all and (max-width: 1200px) and (min-width:900px) {
   
    #pimg{
    
        margin-top: 100px;
        width: 150px;
        height: 200px;
        border-radius: 20px;
    }
    #full{
        width: 270px;
    }

}

@media all and (max-width: 1024px) and (min-width:600px) {
   
    #full{
        width: 270px;
        margin: 0;
    }
    
    #pimg{
    
        margin-top: 100px;
        width: 150px;
        height: 200px;
        border-radius: 20px;
    }
 
    
  
}
@media all and (max-width: 400px) and (min-width:200px) {
   
    #full{
        width: 270px;
        margin: 0;
    }
}
@media all and (max-width: 916px) and (min-width:400px) {
   
    #full{
        width: 270px;
        margin: 0;
    }
}
@media all and (max-width: 500px) and (min-width:200px) {
   
 
    #full{
        width: 270px;
        margin:auto
    }
   
  
}
