#contact{
  width:70%;
  height: 400px;

  margin: 80px 50px 50px 50px;
}
#profile{
    width: 30%;
}
#ContactP{
    
    display: flex;
    background-image: url(https://st.depositphotos.com/3008028/4643/i/450/depositphotos_46434211-stock-photo-royal-blue-background.jpg);
   
}

@media all and (max-width: 900px) and (min-width:200px) {
   
    #ContactP{
        display: block;
       
    }
    #contact{
        width: 70%;
    
 
        margin-bottom: 0;
    
    }
    #profile{
        width: 100%;

    }

}

@media all and (max-width: 1200px) and (min-width:900px) {
   
    #ContactP{
        display: block;
       
    }
    #contact{
        width: 70%;
   
  
        margin-bottom: 0;
    
    }
    #profile{
        width: 100%;

    }

}